# Python bytecode
__pycache__/
*.py[cod]

# Virtual environments
.venv/
env/
venv/

# Environment files
.env

# IDE/editor files
.DS_Store
.vscode/
*.sublime-workspace
*.sublime-project

# Logs and outputs
*.log
outputs/
src/downloads/

# Git metadata (just in case)
.git/

# Zip archives
*.zip
